extends ../../layouts/default

block head
	title Add event
	
block body
	div.row
		div.col-sm-8
			div.page-header
				h1 Edit event
				form(method='post', action='/events/update/#{event._id}')
					div.form-group
						lavel Event name:
						input.form-control(name='name', type='text', value='#{event.name}')
					div.form-group
						lavel Event description:
						textarea.form-control(name='description', type='text') #{event.description}
					div.form-group
						lavel Venue:
						input.form-control(name='venue', type='text', value='#{event.venue}')
					div.form-group
						lavel Event date:
						input.form-control(name='date', type='text', value="#{event.date}")
					div.form-group
						lavel Start time:
						input.form-control(name='startTime', type='time')
					div.form-group
						lavel End time:
						input.form-control(name='endTime', type='time')
					div.form-group
						button.btn.btn-primary.btn-signup(type='submit') Edit event
		div.col-sm-4
			div.page-header
				h1 Sidebar